@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Bootstrap/StarterTemplate.cshtml";

    Bundles.Reference("scripts/custom/ViewModels.js", "body");
    Bundles.Reference("scripts/custom/DashboardUIManager.js", "body");
    Bundles.Reference("scripts/custom/DashboardService.js", "body");
    Bundles.Reference("content/custom/widget.less");
    Bundles.Reference("content/custom/column.less");
}

@model IEnumerable<MvcApplication141.Models.WidgetModel>

@section TopRight
{
    <div class="pull-right btn-group" id="buttons">
        <button class="btn btn-primary" data-bind="click: ShowAddWidgetDialog">Add Widget</button>
        <button class="btn">Edit Layout</button>
    </div>
}

<div id="columns">

    <!-- ko foreach: Columns -->

    <div class="column span2 well" data-bind="attr:{'data-column': Order}">
        <input type="hidden" name="Order" data-bind="value: Order" />
        <div class="column-header">
            <span data-bind="value: Title" />
        </div>
        <div class="column-body" data-bind="foreach: WidgetInstances">
            <div class="ui-widget ui-widget-content clearfix" data-bind="attr: {'data-instanceId': InstanceId}">
                <!-- ko with: Location -->
                <input type="hidden" name="Column" data-bind="value: Column" />
                <input type="hidden" name="Order" data-bind="value: Order" />
                <!-- /ko -->
                <div class="ui-widget-header">
                    <span data-bind="text: Name"></span>
                    <div class="pull-right icons">
                        <div class="btn-group">
                                <a class="btn btn-primary btn-mini" data-bind="click: Fullscreen">
                                    <i class="icon-fullscreen"></i>
                            </a>
                            <a class="btn dropdown-toggle  btn-primary btn-mini" data-toggle="dropdown" href="#">
                                <span class="icon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a class="maximize" href="#" data-bind="click: Maximize">
                                        <i class="icon-plus"></i>Maximize
                                    </a>
                                </li>
                                <li>
                                    <a class="minimization" href="#" data-bind="click: Minimize">
                                        <i class="icon-minus"></i>Minimize
                                    </a>
                                </li>
                                <li>
                                    <a class="delete" href="#" data-bind="click: Delete">
                                        <i class="icon-remove"></i>Delete
                                    </a>
                                </li>
                                <li>
                                    <a class="no_target" href="#" data-bind="click: Edit">
                                        <i class="icon-pencil"></i>Edit
                                    </a>
                                </li>
                                <li>
                                    <a class="no_target" href="#" data-bind="click: Refresh">
                                        <i class="icon-refresh"></i>Refresh
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="ui-widget-body" data-bind="attr: {class: State}">
                    asdf
                </div>
            </div>
        </div>
    </div>

    <!-- /ko -->

    <div class="column span2 well">
        <button class="btn btn-primary" data-bind="click: AddColumn">Add New</button>
    </div>

    @*<div data-column="0" class="column well span3" data-bind="attr: {'data-column': Index}">
        <div class="column-header">
            <h4 data-bind="text: $data.ColumnName"></h4>
        </div>
        <div class="column-body" data-bind="foreach: WidgetInstances">

            <div class="ui-widget ui-corner-all ui-widget-content widget" data-bind="attr: {title: Name, Id: InstanceId}">
                <span data-bind="text: InstanceId"></span>
                <div class="ui-widget-header ui-corner-all widgetheader">
                    <span class="ui-widget-title" data-bind="text: Name"></span>
                    
                </div>
                
            </div>
        </div>
    </div>*@
</div>


<div id="add-widget-dialog" class="hide">
    <table class="table table-bordered">
        <tr>
            <td>
                <ul data-bind="foreach: Categories">
                    <li>
                        <a href="#" data-bind="click: $root.ChangeCategory">
                            <span data-bind="text: $data"></span>
                        </a>
                    </li>

                </ul>
            </td>
            <td>
                <h1 data-bind="text: SelectedCategory"></h1>

                <ul data-bind="foreach: AvailableWidgets">
                    <li>
                        <span data-bind="text: Name"></span>
                        <button class="btn btn-primary btn-mini" data-bind="click: $root.AddWidget">
                            <i class="icon-plus"></i>
                        </button>
                    </li>
                </ul>

            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(function () {

        DashboardService.getDashboard(1, function (data) {
            var viewModel = new DashboardViewModel(data);
            ko.applyBindings(viewModel);

            var startColumn = 0;

            $('.column-body').sortable({
                connectWith: $(".column-body"),
                placeholder: "selected-column",
                opacity: "0.2",
                distance: "20",
                receive: function (event, ui) {
                    
                },
                start: function (event, ui) {
                    ui.placeholder.height(ui.helper.height());
                    startColumn = $(this).closest('[data-column]').attr('data-column');
                    console.log('start column', startColumn);
                },
                stop: function (event, ui) {

                },
                revert: 'invalid'
            });

        });

    });





</script>
