@{
    ViewBag.Title = "Test Widget";
    ViewBag.Id = "1";
    Layout = "~/Views/Shared/_LayoutWidget.cshtml";
}

<p> Test Widget </p>
<p> Test Widget </p>
<p> Test Widget </p>
<p> Test Widget </p>
<p> Test Widget </p>
<p> Test Widget </p>