@import "../framework/bootstrap.less";

.column-body{
	min-height: 100px;
	margin-bottom: -10px;	
}

.selected-column{
	border: 2px dashed black;
}

.well.column{
	padding: 3px;
	margin: 3px !important;
	button{
		width: 100%;
	}
}